{{ zookeeper_masters_prefix }}{% for host in groups['zookeepers'] -%}
   {{ hostvars[host]['ansible_default_ipv4']['address'] }}{{ zookeeper_client_port }}
   {%- if not loop.last %},{% endif -%}
{%- endfor %}{{ zookeeper_masters_postfix_mesos }}
