{{ zookeeper_masters_prefix }}{% for host in groups['zookeepers'] -%}
   {{ lookup('dig', host )}}{{ zookeeper_client_port }}
   {%- if not loop.last %},{% endif -%}
{%- endfor %}{{ zookeeper_masters_postfix_mesos }}
